/* rems and ems do not depend on html font sizein media queries, instead we assume 1rem = 1em = 16px*/
/***************************/
/* GENERAL REUSABLE CODES */
/*************************/


/***************************/
/* BELOW 1344PX (SMALLER DESKTOP) */
/*************************/
@media (max-width: 84em) {
    .hero{
        max-width: 120rem;
    }
    .heading-primary{
        font-size: 4.4rem;
    }
    .gallery{
        grid-template-columns: repeat(2, 1fr);
    }
}

/***************************/
/* BELOW 1200PX (landscape tablets) */
/*************************/

@media (max-width: 75em) {
    html{
        font-size: 56.25%;
    }
    /* font size making 1rem == 9px */
    .grid{
        column-gap: 4.8rem;
        row-gap: 6.4rem;
    }
    .heading-secondary{
        font-size: 3.6rem;
    }
    .heading-tertiary{
        font-size: 2.4rem;
    }
    .header{
        padding: 0 3.2rem;
    }
    .main-nav-list{
        gap: 3.2rem;
    }
    .hero{
        gap: 4.8rem;
    }
    .testimonials-container{
        padding: 9.6rem 3.2rem;
    }
}


/***************************/
/* BELOW 950PX (portraits tablets) */
/*************************/
@media (max-width: 59.3em) {
    /* 8px / 16px  == 0.5 = 50%*/
    html{
        font-size: 50%;
    }
    /* font size making 1rem == 8px */
    .section-testimonials{
        grid-template-columns: 1fr;
    }
    .gallery{
        grid-template-columns: repeat(6, 1fr);
    }

}

/***************************/
/* BELOW 845PX (portraits tablets) */
/*************************/
@media (max-width: 52.8em) {
    /* 8px / 16px  == 0.46 = 46%*/
    html{
        font-size: 46%;
    }

    /* font size making 1rem == 7.3px */

    .testimonials-container{
        padding: 9rem 3rem;
    }
    .hero{
        grid-template-columns: 1fr;
        padding: 0 8rem;
        gap: 6.4rem;
    }
    .hero-text-box,
    .hero-image-box{
        text-align: center;
    }
    .hero-img{
        width: 60%;
    }
    .delivered-meal{
        justify-content: center;
        margin-top: 3.2rem;
    }
    .logos img{
        height: 10.4rem;
    }
    .step-number{
        font-size: 7.4rem;
    }
    .meal-content{
        padding: 2.4rem 3.2rem 3.2rem 3.2rem;
    }
    .cta{
        grid-template-columns: 3fr 2fr;
    }
    .cta-form{
        grid-template-columns: 1fr;
    }
    .btn--form{
        margin-top: 1.5rem;
    }


    /*mobile navigation opening*/
    .btn-mobile-nav{
        display: block;
        z-index: 1000;
    }
    .main-nav{
        background-color: rgba(255, 255, 255, 0.954);
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        transform: translateX(100%);

        display: flex;
        align-items: center;
        justify-content: center;
        transition: all 0.5s ease-in-out;

        /* the navigation should be hidden, it allows no transitions at all */
        /* display: none; */

        /* 1st, hide the eliment visually */
        opacity: 0;

        /* make it unaccesable to mouse and keyboad */
        pointer-events: none;

        /* Hide from screen readers */
        visibility: hidden;
    }
    .nav-open .main-nav{
        opacity: 1;
        pointer-events: auto;
        visibility: visible;
        transform: translateX(0);
    }

    /* remember you put the display of the closing icon to none. change it to that it can be visible */
    .nav-open .icon-mobile-nav[name="close-outline"]{
        display: block;
    }

    /* also remeber to hide the opening icon */

    .nav-open .icon-mobile-nav[name="menu-outline"]{
        display: none;
    }
    /* **************end**************** */

    .main-nav-list{
        flex-direction: column;
        gap: 5rem;
    }

    .main-nav-link:link,
    .main-nav-link:visited{
        font-size: 3rem;
        font-weight: 800;
    }
}

/***************************/
/* BELOW 688PX (smaller tablets) */
/*************************/
@media (max-width: 43em) {
    /* below 704px */
    .grid--3-cols, .grid--4-cols{
        grid-template-columns: repeat(2, 1fr);
    }
    .diets{
        grid-column: 1/-1;
        justify-self: center;
    }
    .heading-secondary{
        margin-bottom: 4.8rem;
    }
    .pricing-plans{
        width: 100%;
    }
    .grid--footer{
        grid-template-columns: repeat(6, 1fr);
    }
    .logo-col, .address-col{
        grid-column: span 3;
    }
    .nav-col{
        grid-row: 1;
        grid-column: span 2;
        margin-bottom: 3.2rem;
    }
}

/***************************/
/* BELOW 560PX (phones) */
/*************************/
@media (max-width: 34em) {
    .grid{
        row-gap: 4.8rem;
    }
    .grid--3-cols, .grid--4-cols, .grid--2-cols{
        grid-template-columns: 1fr;
    }
    .btn,
    .btn:link,
    .btn-visited{
        padding: 2.4rem 1.6rem;
    }
    .section-hero{
        padding: 2.4rem 0 6.4rem 0;
    }
    .hero{
        padding: 0 3.2rem;
    }
    .hero-img{
        width: 80%;
    }
    .logos img{
        height: 1.4rem;

    }
    .step-img-box:nth-child(2){
        grid-row: 1;
    }
    .step-img-box:nth-child(6){
        grid-row: 5;
    }
    .step-img-box{
        transform: translateY(2.4rem);
    }
    .testimonials{
        grid-template-columns: 1fr;
    }
    .gallery{
        grid-template-columns: repeat(4, 1fr);
        gap: 0.8rem;
    }
    .cta{
        grid-template-columns: 1fr;
    }
    .cta-text-box{
        padding: 3.2rem;
    }
    .cta-img-box{
        height: 32rem;
        grid-row: 1;
    }
}